DEVICE=bond0
IPADDR={{ ansible_eth1.ipv4.address }} 
NETMASK={{ ansible_eth1.ipv4.netmask }} 
GATEWAY={{ ansible_default_ipv4.gateway }} 
USERCTL=no
BOOTPROTO=static
ONBOOT=yes
BONDING_OPTS="mode=0 miimon=100"
